<div id="add-form-container" class="container">
    <div class="row">
        <div class="col-md-12 wrapper">
            <div class="wrapper-title">
                <div class="row">
                    <div class="col-md-5">
                        <h2>Gerenciar <b>Relatórios</b></h2>
                    </div>
                    <div class="col-md-7">
                        <a class="btn btn-secondary" href="/albums"><i class="fa fa-arrow-circle-left"
                                aria-hidden="true"></i> <span>Voltar</span></a>
                    </div>
                </div>
            </div>
            <div class="wrapper-items">

            </div>
        </div>
    </div>
</div>